@import 'reset.css';
@import 'base.css';

#header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header--logo {
  max-width: 100px;
}
.header--link-signin {
  display: inline-block;
  color: var(--primary);
  font-weight: bold;
}
.navbar {
  width: 100%;
  position: absolute;
  bottom: -1.5rem;
  right: 0;
}
.navbar--links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.navbar--link {
  width: 100%;
  flex: 1;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--grey);
}
.navbar--link[aria-current='true'] {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

#main {
  padding: 1rem 1.5rem;
}

.section--filters {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.5rem;
}
.section--filters p {
  font-size: 0.8rem;
}
/** Filter Search **/
.filter--search-container {
  position: relative;
  width: fit-content;
  border: 1px solid var(--grey);
  border-radius: 10px;
}
.filter--search-container .icon-location,
.filter--search-container .icon-search {
  height: 100%;
  width: 2.4rem;
  position: absolute;
  font-size: 0.9rem;
  padding-top: 0.75rem;
}
.filter--search-container .icon-location {
  padding-left: 0.8rem;
  outline: 1px solid var(--grey);
  background-color: var(--grey);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filter--search-container .icon-search {
  top: 0;
  color: #fff;
  outline: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 10px;
}
.filter--search-container .filter--search-btn {
  height: 100%;
  position: absolute;
  top: 0;
  right: 2.4rem;
}
.filter--search-container .filter--search-btn:hover {
  opacity: 0.8;
}
.filter--search-container .filter--search-input {
  font-weight: bold;
  margin: 0 2.5rem;
  padding: 0.4rem 0.5rem;
}

/** Filter Select **/
.filters--select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter--select-btn,
.icon-filter,
.filter--select-background {
  height: 2.4rem;
}
.filter--select-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.filter--select-container .filter--select-btn {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 2.9rem;
  padding-right: 1rem;
  border: 2px solid var(--grey);
  border-radius: 80px;
}
.filter--select-container .filter--select-btn .icon-filter {
  z-index: 2;
  position: absolute;
  left: 0.5rem;
  top: 25%;
  font-size: 1rem;
  color: var(--primary);
}
.filter--select-text {
  z-index: 2;
  font-weight: bold;
}
.filter--select-background {
  z-index: 1;
  position: absolute;
  left: -2px;
  width: 2.4rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: var(--primary-light);
  transition: all 250ms ease-in;
}
.filter--select-btn:hover .filter--select-background {
  transition: all 250ms ease-out;
  width: calc(100% + 4px);
  border-radius: 80px;
}

.section--filters-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 1.75rem;
}

.section--filters-info::before {
  content: '\f129';
  font: var(--fa-font-solid);
  color: var(--primary);
  font-size: 0.65rem;
  position: absolute;
  left: 0;
  width: 1rem;
  border: 2px solid var(--grey);
  border-radius: 50%;
  line-height: 1rem;
  text-align: center;
}

/** Section Accommodations **/
.section--accommodations .link--more {
  font-weight: bold;
}
.section--accommodations-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.accommodations--cards {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
.accommodations--card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.25rem;
  transition: transform 250ms ease;
}
.accommodations--card:hover,
.accommodations--card:focus-within {
  transform: scale(1.025);
  transition: transform 250ms ease;
}
.accommodations--card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.accommodations--card-desc {
  padding: 0.25rem 1rem 0.5rem;
  line-height: 1.5rem;
}
.accommodations--card-rating {
  color: var(--primary);
  font-size: 0.8rem;
}

#footer {
  background-color: var(--grey);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer--category > h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer--category p {
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 600px) {
  .accommodations--cards {
    justify-content: space-between;
    gap: 1rem;
  }
  .accommodations--card {
    flex: 1 0 45%;
  }
  .accommodations--card img {
    height: 150px;
  }
}

@media only screen and (min-width: 800px) {
  .accommodations--cards {
    justify-content: space-between;
    gap: 1rem;
  }
  .accommodations--card {
    flex: 1 0 25%;
  }
}

@media only screen and (min-width: 768px) {
  #header {
    padding: 1rem 2rem;
  }
  .navbar {
    width: fit-content;
    position: relative;
    bottom: 0;
  }
  .header--links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header--links-container,
  .navbar--links {
    gap: 3rem;
  }
  .navbar--link {
    width: fit-content;
    border: none;
    padding: 0;
  }
  .navbar--link[aria-current='true'] {
    color: var(--primary);
    border-bottom: none;
  }

  .section--filters {
    gap: 1.5em;
  }
  .filters--select {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  #footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  .footer--category {
    max-width: 170px;
  }
}

@media only screen and (min-width: 1024px) {
  #footer {
    justify-content: center;
    gap: 5rem;
  }
}
